body {
	background-color: #CCC;
}

h1 {
	background-color: #E0E2E4;
	color: #000;
	font: italic bold 32px Georgia, serif;
	text-align: center;
	margin: 10px auto;
}

.container {
	width: 80%;
	margin: 0 auto;
	padding: 20px;
	background-color: #FFF;
}

.chat{
	height:400px;
	width: 95%;
	margin: 0 auto;
	overflow-y: auto;
	border: 1px solid #BBB;
	border-radius: 5px;
}

	.chat p {
		color: #000;
		font-family: "Century Gothic", Ariel, Helvetica, sans-serif;
		margin: 12px;
		padding: 2px 8px;
		border-radius: 3px;
		border: 1px dashed #DAA;
		max-width: 80%;
	}

		.chat p:nth-child(even) {
		}